<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"><strong>Online Loan Application Form</strong></h2>
      <div class="card">
        <div class="card-body">
          <form #loanform="ngForm" (ngSubmit)="onsubmit()">
            <div class="form-group">
              <label for="ApplicantName">Applicant Name</label>
              <input type="text" class="form-control" required ngModel name="ApplicantName" #ApplicantName="ngModel">
              <strong class="text-danger" *ngIf="ApplicantName.touched&&ApplicantName.hasError('required')">
                Applicant Name is required!.
              </strong>
            </div>
            <div class="form-group">
              <label for="Email"> Email</label>
              <input type="email" class="form-control" required ngModel name="Email" #Email="ngModel"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}">
              <strong class="text-danger" *ngIf="Email.touched&&Email.hasError('required')">
                Email is required!.
              </strong>
              <strong class="text-danger" *ngIf="Email.dirty&&Email.hasError('pattern')">
                Email pattern is required!.(john.doe@gmail.com)
              </strong>
            </div>

            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input type="text" class="form-control" ngModel required name="mobile" #mobile="ngModel" maxlength="10"
                pattern="[0-9]{10}" (keypress)="numberOnly($event)">
              <strong class="text-danger" *ngIf="mobile.touched&&mobile.hasError('required')">
                Mobile is required!.
              </strong>
              <strong class="text-danger" *ngIf="mobile.dirty&&mobile.hasError('pattern')">
                Mobile Pattern is Required!.
              </strong>
            </div>

            <div class="form-group">
              <label for="pannumber">Pan Number</label>
              <input type="text" class="form-control" ngModel required name="pannumber" #pannumber="ngModel"
                maxlength="10" pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" (input)="onPanInput($event)">
              <strong class="text-danger" *ngIf="pannumber.touched&&pannumber.hasError('required')">
                Pan Number is required!.
              </strong>
              <strong class="text-danger" *ngIf="pannumber.dirty&&pannumber.hasError('pattern')">
                Enter a valid PAN number (Example: ABCDE1234F)
              </strong>
            </div>
            <div class="form-group">
              <label for="AadhaarNumber">Aadhaar Number</label>
              <input type="text" class="form-control" ngModel required name="AadhaarNumber" #AadhaarNumber="ngModel"
                maxlength="14" 
                (input)="formatAadhaar($event)"
                  pattern="^\d{4}\s\d{4}\s\d{4}$"
                 (keypress)="numberOnly($event)"
                  [(ngModel)]="aadhaarNo">
              <strong class="text-danger" *ngIf="AadhaarNumber.touched&&AadhaarNumber.hasError('required')">
                Aadhaar Number is required!.
              </strong>
              <strong class="text-danger" *ngIf="AadhaarNumber.dirty&&AadhaarNumber.hasError('pattern')">
                Aadhaar number must contain exactly 12 digits.
              </strong>
            </div>

            <div class="form-group">
              <label for="Anualincome">Anual Income</label>
              <input type="number" class="form-control" ngModel required name="Anualincome" #Anualincome="ngModel"
                pattern="^[0-9]+$"
                 (keypress)="numberOnly($event)">
              <strong class="text-danger" *ngIf="Anualincome.touched&&Anualincome.hasError('required')">
               Anual Income is required!.
              </strong>
              <strong class="text-danger" *ngIf="Anualincome.dirty&&Anualincome.hasError('pattern')">
                Anual income pattern is required!. 
              </strong>
            </div>

            <div class="form-group">
              <label for="loanamount">Loan Amount</label>
              <input type="number" class="form-control" ngModel required name="loanamount" #loanamount="ngModel"
              minlength="50001"
                 (keypress)="numberOnly($event)">
              <strong class="text-danger" *ngIf="loanamount.touched&&loanamount.hasError('required')">
              Loan Amount is required!.
              </strong>
              <strong class="text-danger" *ngIf="loanamount.dirty&&loanamount.hasError('minlength')">
                  Loan Amount must be greater than ₹50,000.
              </strong>
            </div>

            <div>
              <button
              [disabled]="loanform.invalid"
               mat-raised-button color="primary" class="w-100">Apply Loan</button>
            </div>

            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>